{% extends 'base.html' %}
{% load static %}

{% block title %}<title>User Details</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="row main">
        <div class="col-md-4"/>
        <div class="main-login main-center">
            <h4 style="text-align: center;"><b>User Details Form</h4>
            <form class="text-center" id="userdetails" method="post">
                {% csrf_token %}
                <input type="text" id="user_id" name="default_user_id">
                <div class="form-group">
                    {{form.name.labe}}
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.name}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{form.email.labe}}
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.email}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{form.mobile.labe}}
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.mobile}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{form.address.labe}}
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.address}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{form.dob.labe}}
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.dob }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{form.blood_group.labe}}
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.blood_group}}
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <h4>Gender</h4>                               
                    <div style="padding-top: 5px;"> 
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="id_gender_0" value="M" required/>
                                   Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="id_gender_1" value="F" required/>
                                   Female
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div id="general_errors" class="general_error">
                    </div>
                </div>
                <div class="form-group">
                <div>
                    <button id="column_add" class="btn btn-primary btn-sm" {% if s_id %}value={{ s_id }}{% endif %} id="s_id"  >
                        Submit
                    </button>
                </div>
                </div>
         </form>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Dob</th>
                <th>Gender</th>
                <th>Blood Group</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for detail in user_data %}
            <tr id="{{detail.id}}_row">
                <td>
                    {{ detail.name }}
                </td>
                <td>
                    {{ detail.email }}
                </td>
                <td>
                    {{ detail.mobile }}
                </td>
                <td>
                    {{ detail.address }}
                </td>
                <td>
                    {{ detail.dob }}
                </td>
                <td>
                    {{ detail.gender }}
                </td>
                <td>
                    {{ detail.blood_group }}
                </td>
                <td>
                    <button id="{{detail.id}}_edit" data-attr="{{detail.id}}"  class="btn btn-primary btn-sm btn-edit">
                        <i class="glyphicon glyphicon-edit" aria-hidden="true">Edit</i>
                    </button>
                </td>
                <td>
                    <button id="{{detail.id}}_delete" data-attr="{{detail.id}}" class="btn btn-primary btn-sm btn-dlt">
                        <i class="glyphicon glyphicon-remove" aria-hidden="true">Delete</i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      </div>
    </div>
  </div>

{% endblock %}